* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

/* LAYOUT */
header {
  width: calc(100vw - 60px);
  height: 80px;
  background-color: rgba(8, 11, 18, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

aside {
  background-color: #000;
  width: 60px;
  height: calc(100vh - 80px);
  position: fixed;
  top: 0;
  left: 0;
}

main {
  height: calc(100vh - 80px);
  background-color: #141922;
  overflow-y: auto;
  padding-top: 80px;
  margin-left: 60px;

  display: flex;
  flex-wrap: wrap;
}

main section {
  width: 100%;
  margin-top: 20px;
  padding: 0 16px;
}

footer {
  width: 100vw;
  height: 80px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}


/* UTILITY */
.text-center {
  text-align: center;
}

.color-w {
  color: #fff;
}

.color-grey {
  color: #7D7F84;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #7D7F84;
}

/* HEADER */
header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 500px;
  padding: 14px 45px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  transition: all .2s ease-in-out;
}

header a:hover {
  transform: scale(1.1);
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar .logo {
  margin: 10px 0;
}

.sidebar .logo > a {
  text-decoration: none;
}

.sidebar .logo > a > i {
  display: block;
  color: #fff;
  font-size: 32px;
}

.sidebar .logo > a > img {
  max-width: 100%;
  display: none;
}

.sidebar ul {
  list-style: none;
}

.sidebar .navigation ul > li {
  padding: 8px 10px;
  margin-bottom: 5px;
}


.sidebar ul > li > a {
  text-decoration: none;
  color: #7D7F84;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .navigation ul > li > a > i {
  margin-right: 0;
  font-size: 32px;
  color: #D2D2D2;
}

.sidebar .navigation ul > li > a > span {
  display: none;
  font-size: 14px;
}

.sidebar .navigation a:hover i, .sidebar .navigation a:hover span{
  color: #fff;
}

.sidebar .playlist {
  display: none;
  padding-left: 14px;
  margin-top: 20px;
}

.sidebar .new-playlist a:hover i, .sidebar .new-playlist a:hover span, .sidebar .playlist a:hover {
  color: #fff;
}

.sidebar .new-playlist h4 {
  color: #fff;
  text-transform: uppercase;
}

.sidebar .new-playlist a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sidebar .new-playlist a > i {
  color: #D2D2D2;
  font-size: 44px;
  margin-right: 10px;
}

.sidebar .new-playlist a > span {
  color: #7D7F84;
  font-weight: bold;
}

.sidebar .list {
  height: 24vh;
  overflow-y: auto;
}

.sidebar .list > li {
  padding: 10px 0;
  font-size: 14px;
}

.sidebar .account {
  margin-top: auto;
  padding: 0 14px;
}

.sidebar .account li {
  padding: 10px 0;
}

.sidebar .account li:first-child {
  border-bottom: 1px solid #7D7F84;
  font-size: 14px;
}

.sidebar .account ul > li > a > span {
  display: none;
}

.sidebar .account li:last-child a > i {
  font-size: 32px;
}

.sidebar .account li:last-child a > span {
  color: #fff;
  font-size: 18px;
}

.sidebar .account > a {
  text-decoration: none;
  color: #7D7F84;
  font-weight: bold;
}

.sidebar .account li:first-child a:hover {
  color: #fff;
}

.sidebar .account li:last-child a:hover > span {
  color: #7D7F84;
}

/* MAIN -OPTIONS */
#options ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#options ul > li {
  display: inline-block;
  margin: 0 10px 30px 10px;
  text-align: center;
}

#options ul > li > a {
  text-decoration: none;
  color: #7D7F84;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

#options ul > li > hr {
  border: 1px solid transparent;
  margin: 5px auto 0;
  width: 40%;
}

#options ul > li > hr.active {
  border: 1px solid #ADFF2F;
}

#options ul > li > a:hover {
  color: #fff;
}

/* MAIN - RECENTLY PLAYED */
section .title h1 {
  color: #fff;
  font-size: 28px;
}

section .title {
  padding-left: 10px;
}

.container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.container .card {
  width: calc(100% / 2);
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.container .card a {
  text-decoration: none;
}

.container .image {
  position: relative;
  font-size: 0;
}

.container .card .image .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.container .card .image .overlay i {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .card .image:hover .overlay {
  display: block;
}

.container .card .image img {
  width: 100%;
}

.container .card .description h2 {
  color: #fff;
  margin: 10px 0;
  font-size: 20px;
}

.container .card .description span {
  color: #7D7F84;
  font-weight: bold;
  font-size: 16px;
}

/* MAIN - CREATED FOR */
.title span {
  color: #7D7F84;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  margin: 10px 0;
}

/* MAIN - ARTISTI POPOLARI */
#artists .card .image img {
  border-radius: 100%;
  overflow: hidden;
}

#artists .container .card .image .overlay {
  border-radius: 100%;
}

/* FOOTER - LEFT */
footer {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

footer .left {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

footer .left img {
  width: 40px;
  margin-right: 5px;
}

footer .song-info {
  margin-right: 20px;
}

footer .song-info div {
  width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

footer .song-info > div.song > a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}

footer .song-info > div.artist > a {
  text-decoration: none;
  font-size: 12px;
  color: #7D7F84;
}

footer .song-info > div.song > a:hover {
  text-decoration: underline;
}

footer .song-info > div.artist > a:hover {
  color: #fff;
  text-decoration: underline;
}

footer .icons {
  display: flex;
  flex-direction: column;
}

footer button {
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}

footer .icons button {
  color: #7D7F84;
  font-size: 14px;
}

footer .icons button:hover {
  color: #fff;
}

footer i.fa-heart {
  margin-bottom: 5px;
}

/* FOOTER-CENTER */
footer .center {
  width: 40%;
  height: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .controls {
  display: flex;
  align-items: center;
}

footer .controls button {
  color: #fff;
  font-size: 16px;
}

footer .controls i.fa-step-backward {
  margin-left: 20px;
}

footer .controls i.fa-play-circle {
  font-size: 32px;
  margin: 0 30px;
}

footer .controls i.fa-play-circle:hover {
  transform: scale(1.1);
}

footer .controls i.fa-step-forward {
  margin-right: 20px;
}

footer .progress-bar {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

footer .progress-bar span {
  color: #fff;
  font-size: 12px;
}
footer .slider-container {
  width: 84%;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

footer .slider-container .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #7D7F84;
  outline: none;
  border-radius: 10px;
}

.slider::-moz-range-progress {
  height: 4px;
  border-radius: 10px 0 0 10px;
  background-color: #C1C1C1;
}

.slider:hover::-moz-range-progress {
  background-color: #1db954;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background: #fff;
  cursor: pointer;
  display: none;
}

.slider:hover::-webkit-slider-thumb {
  display: block;
}

.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background: #fff;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  header {
    width: calc(100vw - 200px);
  }

  aside {
    width: 200px;
  }

  main {
    margin-left: 200px;
  }

  .sidebar .logo {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 70%;
  }

  .sidebar .logo > a > i {
    display: none;
  }

  .sidebar .logo > a > img {
    display: inline-block;
  }

  .sidebar ul > li > a {
    justify-content: flex-start;
  }

  .sidebar .navigation ul > li {
    border-left: 4px solid transparent;
  }

  .sidebar .navigation ul > li.active, .sidebar .navigation ul > li:target {
    border-left: 4px solid #ADFF2F;
  }

  .sidebar .navigation ul > li > a > i {
    width: 25px;
    text-align: center;
    font-size: 22px;
    margin-right: 5px;
  }

  .sidebar .navigation ul > li > a > span, .sidebar .account ul > li > a > span {
    display: inline;
  }

  .sidebar .account li > a > i {
    margin-right: 10px;
  }

  .sidebar .account li:last-child a > i {
    font-size: 24px;
  }

  .sidebar .playlist {
    display: block;
  }

  footer .left img {
    width: 56px;
  }

  footer .song-info div {
    width: 110px;
  }
}

@media all and (min-width: 992px) {
  .container .card {
    width: calc(100% / 4);
  }

  footer .icons {
    flex-direction: row;
  }

  footer .icons button {
    padding: 5px;
  }

  footer i.fa-heart {
    margin-bottom: 0;
  }

}

@media all and (min-width: 1200px) {
  .container .card {
    width: calc(100% / 6);
  }
}
